@font-face {
    font-family: 'Archivo';
    src: url(./font/Archivo.ttf);
}

:root {
    --color-primary: #06283D;
    --color-secondary: #256D85;
    --color-tertiary: #47B5FF;
    --color-quaternary: #DFF6FF;
    --color-quinary: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 75px;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
}

.container {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-quinary);
    display: flex;
    flex-direction: column;
}

.container header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header nav {
    width: 100%;
    background-color: var(--color-secondary);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    transition: box-shadow 0.5s ease;
    transition: background-color 0.5s ease;
}

.scroll {
    box-shadow: none;
    background-color: var(--color-primary);
}

nav h2 a:first-child {
    text-decoration: none;
    color: var(--color-quinary);
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}


nav ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav .humberger {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;

}

.line1,
.line2,
.line3 {
    width: 100%;
    height: 3px;
    background-color: var(--color-quinary);
    transition: all 0.5s ease;
}

.line1 {
    transform-origin: 0 0;
}

.line3 {
    transform-origin: 0 100%;
}

.humberger>.active:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.humberger>.active:nth-child(2) {
    opacity: 0;
    scale: 0;
}

.humberger>.active:nth-child(3) {
    transform: rotate(-45deg) translate(0, -1px);
}

nav ul li a {
    text-decoration: none;
    position: relative;
    color: var(--color-quinary);
    transition: all 0.5s ease;
}

nav ul li a:hover {
    color: var(--color-tertiary);
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a::after {
    content: '';
    /* display: block; */
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: white;
    transition: width 0.3s ease;
}

header article {
    margin-top: 25vh;
    height: 75vh;
}

header article img {
    width: 35%;
    border-radius: 50%;
    border: 6px solid var(--color-quaternary);
}

header article h1 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

header article p {
    padding: 0rem 2rem;
    font-size: 1.1rem;
    margin-top: .5rem;
}


main {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
}


article[id="tentang"] p {
    text-align: justify;
    padding: 5vh 0;
}

article[id="tentang"] h2 {
    text-align: center;
    font-size: 2em;
}

article[id="pengalaman"] {
    text-align: center;
    background: var(--color-quaternary);
    width: 100%;
    padding: 5vh 0;
}

article[id="pengalaman"] h2 {
    font-size: 1.7em;
    padding: 5vh 0;
}


figure>figcaption {
    font-size: 1.5em;
    font-weight: 600;
    padding: 5vh 0;
}

figure>iframe {
    border-radius: 7.5px;
}


article[id="pengalaman"]>.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    background: var(--color-quaternary);
    padding: 2em 0;
}

.box {
    font-size: .8em;
}

#pengalaman .box:nth-child(2) {
    margin-bottom: 3vh;
}

.box>.no {
    flex: 1;
}

.box>.pengalaman {
    flex: 3;
}

.box>.tahun {
    flex: 1;
}

main article[id="hubungi"] {
    text-align: center;
    padding: 0 2.2rem;
    background-color: var(--color-primary);
    color: var(--color-quinary);
}

article[id="hubungi"]>h2 {
    padding-top: 5vh;
    padding-bottom: 2.5rem;
    font-size: 1.7em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 0 20vw;
}

form input,
textarea {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-quaternary);
    padding: 0rem 1rem;
}

form label {
    text-align: left;
    width: 100%;
    padding-bottom: 1rem;
}

textarea {
    height: 10rem;
}

input[type="submit"] {
    background-color: var(--color-tertiary);
    color: var(--color-quinary);
    border: none;
    font-size: 1em;
    transition: all 0.5s ease;
}

input[type="submit"]:hover {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
    cursor: pointer;
}

footer {
    background-color: var(--color-secondary);
    color: var(--color-quinary);
    text-align: center;
    height: 15vh;
    padding: 1rem 5vw 0 5vw;
    font-size: 1rem;
}

footer p a {
    color: var(--color-quaternary);
}

footer p a:hover {
    color: var(--color-quinary);
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 7.5vh 2rem;
}

@media screen and (max-width: 855px) {
    nav ul {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        overflow: hidden;
        font-size: 0.8em;
        /* width: 100%; */
        background-color: var(--color-secondary);
        padding: 0 15vw;
        width: 100%;
        left: 0;
        top: 0;
        height: 10vh;
        transform: translateY(-100%);
        opacity: 0;
        transition: opacity .2s ease-in-out, transform .3s ease-out, background-color .5s ease;

    }

    nav ul.navbar {
        transform: translateY(9vh);
        opacity: 1;
    }

    nav.scroll>ul.navbar {
        background-color: var(--color-primary);
    }

    nav .humberger {
        display: flex;
    }

    .row {
        flex-direction: column;
        /* padding: 3vh; */
    }

    form {
        padding: 0 5vw;
    }

    footer p {
        font-size: .8em;
    }

}

@media screen and (min-width: 855px) {

    .container header {
        text-align: start;
    }

    header article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10vh;
        height: 90vh;
        /* padding: 0 15vw; */
    }

    article h1 {
        padding: 0 2rem;
    }

    article p {
        padding: 0 2rem;
    }

    article img {
        width: 30%;
    }

    article[id="pengalaman"] {
        padding: 5vh;
    }

    .box {
        width: 100%;
        margin: auto;
    }
}